p{
    color: bisque;
    background-color: brown;
}

.animalList{
    list-style: none;
    display: inline-block;
}

.birdList{
    list-style: none;
    background-color: darkcyan;
    display: block;
}